/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

#index-banner{
  margin-top:5px;
}

nav {
  z-index: 1300;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255, 1);
  line-height: 1.2!important;
  font-weight:777!important;
  font-size: 1.3rem;
}
.parallax-container .section {
  width: 100%;
}
.colour-special{

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.text-shadow{
  text-shadow: 2px 2px 0.8em black,
               1px 1px 1em black;

}
.mar{
  margin-top: 30px;
}
.main-header{
  margin-top: 110px;
}
.gallery{
  margin-top: 30px;
}
.material-placeholder{
  margin-top: 40px;
  margin-bottom: 30px;
}
.telephone{
  margin-top: 55px;
  margin-bottom: 55px;
}
.cerf{
  margin-top:55px;
  margin-bottom: 55px
}
#sidenav-overlay{
  z-index: 333;
}

/* pictures  */

.logo-png{
  height: 100px;
}

.items{
  max-width: 55%;
  margin-top: 30px;
}
.ready{
  color:black;
}
.equal{
  margin:10px auto;
  width:70%;
  text-align: center;
}



@media (max-width: 600px) {
  .parallax-container {
  min-height: 380px;
  }
  .main-header{
    font-size: 26px!important;
    margin-top: 55px;
  }
  #index-banner img{
  
  }

  img.items{
    width:80%;
  }
  .long{
    min-height: 550px;
    font-size: 0.7rem;

  }
  .long h4{
    margin-top: -190px;
    font-size: 23px;
  }
  .answer{
    font-size: 20px;
    transform: translateY(-110px);
  }
  .awesome-text{
    transform: translateY(-70px);
    line-height: 1;
    font-size: 17px;
  }

}